<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
    <img src="https://avatars1.githubusercontent.com/u/59889307?s=460&u=9e30b32ffb4404da344150a02088ad3083bd67b9&v=4" class="card-img-top rounded-circle w-75" alt="...">
    </div>

    <div class="card-body">
      <h5 class="card-title text-monospace text-center">Lais Basso</h5>
      <p class="card-text text-monospace text-center">Estudante de Desenvolvimento Web Full Stack Java na Generation Brasil</p>
      <a href="https://www.linkedin.com/in/laisbasso/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="https://github.com/laisbasso/" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>